<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dijizidan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,144},{38,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>dijizidan_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,189},{33,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,85}}</string>
                <key>sourceSize</key>
                <string>{33,85}</string>
            </dict>
            <key>dijizidan_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,217},{30,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,88}}</string>
                <key>sourceSize</key>
                <string>{30,88}</string>
            </dict>
            <key>dijizidan_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,249},{29,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,88}}</string>
                <key>sourceSize</key>
                <string>{29,88}</string>
            </dict>
            <key>dijizidan_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,365},{30,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,89}}</string>
                <key>sourceSize</key>
                <string>{30,89}</string>
            </dict>
            <key>dijizidan_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,184},{31,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,89}}</string>
                <key>sourceSize</key>
                <string>{31,89}</string>
            </dict>
            <key>dijizidan_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,276},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>dijizidan_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,259},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{28,60}</string>
            </dict>
            <key>dijizidan_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,359},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>dijizidan_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,74},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>dijizidan_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,299},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>dijizidan_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,299},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>dijizidan_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,359},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>dijizidan_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,179},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>dijizidan_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,204},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>dijizidan_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,280},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>dijizidan_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,319},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>dijizidan_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,319},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>dijizidan_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,321},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>dijizidan_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,271},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dijizidan_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,140},{47,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,73}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>dijizidan_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,132},{45,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,73}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>dijizidan_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,229},{45,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,71}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>dijizidan_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,224},{45,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,71}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>dijizidan_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,169},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>dijizidan_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,365},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>dijizidan_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,222},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>dijizidan_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,276},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>dijizidan_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,275},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>dijizidan_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,383},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>dijizidan_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,317},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>dijizidan_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,383},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>dijizidan_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,216},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dijizidan_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,383},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>dijizidan_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,383},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>dijizidan_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,383},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>dijizidan_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,363},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dijizidan_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,217},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>dijizidan_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,331},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>dijizidan_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,258},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>dijizidan_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,323},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>dijizidan_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,265},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>dijizidan_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,368},{56,28}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>dijizidan_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,265},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dijizidan_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,217},{46,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dijizidan_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,370},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{42,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dijizidan_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,280},{48,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{48,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dijizidan_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,216},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,71}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>dijizidan_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,289},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,81}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>dijizidan_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,72},{58,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,81}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>dijizidan_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,72},{66,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>dijizidan_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,368},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>dijizidan_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,368},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>dijizidan_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,368},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>dijizidan_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,330},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>dijizidan_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,72},{13,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,51}}</string>
                <key>sourceSize</key>
                <string>{13,51}</string>
            </dict>
            <key>dijizidan_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,370},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>dijizidan_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,363},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>dijizidan_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,358},{5,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,21}</string>
            </dict>
            <key>dijizidan_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,383},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{41,28}</string>
            </dict>
            <key>dijizidan_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,320},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>dijizidan_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,354},{13,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,49}}</string>
                <key>sourceSize</key>
                <string>{13,49}</string>
            </dict>
            <key>dijizidan_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,318},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>dijizidan_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,356},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>dijizidan_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,410},{7,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,47}}</string>
                <key>sourceSize</key>
                <string>{7,47}</string>
            </dict>
            <key>dijizidan_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,311},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>dijizidan_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,37},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>dijizidan_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,214},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>dijizidan_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,169},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>dijizidan_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>dijizidan_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,74},{62,233}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,233}}</string>
                <key>sourceSize</key>
                <string>{62,243}</string>
            </dict>
            <key>dijizidan_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{70,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,301}}</string>
                <key>sourceSize</key>
                <string>{70,301}</string>
            </dict>
            <key>dijizidan_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{198,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,210}}</string>
                <key>sourceSize</key>
                <string>{198,210}</string>
            </dict>
            <key>dijizidan_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,226}}</string>
                <key>sourceSize</key>
                <string>{160,226}</string>
            </dict>
            <key>dijizidan_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,420}}</string>
                <key>sourceSize</key>
                <string>{104,420}</string>
            </dict>
            <key>dijizidan_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,286},{11,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,118}}</string>
                <key>sourceSize</key>
                <string>{11,118}</string>
            </dict>
            <key>dijizidan_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,273},{11,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,118}}</string>
                <key>sourceSize</key>
                <string>{11,118}</string>
            </dict>
            <key>dijizidan_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,204},{11,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,118}}</string>
                <key>sourceSize</key>
                <string>{11,118}</string>
            </dict>
            <key>dijizidan_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,216},{38,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,112}}</string>
                <key>sourceSize</key>
                <string>{38,114}</string>
            </dict>
            <key>dijizidan_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,214},{39,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,124}}</string>
                <key>sourceSize</key>
                <string>{41,124}</string>
            </dict>
            <key>dijizidan_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,214},{43,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,142}}</string>
                <key>sourceSize</key>
                <string>{45,142}</string>
            </dict>
            <key>dijizidan_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,186},{28,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,226}}</string>
                <key>sourceSize</key>
                <string>{28,226}</string>
            </dict>
            <key>dijizidan_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,138},{29,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,226}}</string>
                <key>sourceSize</key>
                <string>{29,226}</string>
            </dict>
            <key>dijizidan_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,154},{30,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,226}}</string>
                <key>sourceSize</key>
                <string>{30,226}</string>
            </dict>
            <key>dijizidan_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,369},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dijizidan_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,276},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,51}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>dijizidan_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,370},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,54}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>dijizidan_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,397},{27,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,136}}</string>
                <key>sourceSize</key>
                <string>{27,136}</string>
            </dict>
            <key>dijizidan_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,214},{62,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,149}}</string>
                <key>sourceSize</key>
                <string>{62,151}</string>
            </dict>
            <key>dijizidan_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,256},{15,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,118}}</string>
                <key>sourceSize</key>
                <string>{15,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dijizidan.png</string>
            <key>size</key>
            <string>{1022,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765fec00c255ad900ba52267a7c2341f$</string>
            <key>textureFileName</key>
            <string>dijizidan.png</string>
        </dict>
    </dict>
</plist>
