<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player3_player_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{36,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,77}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>player3_player_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>player3_player_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,220}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>player3_player_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>player3_player_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,224},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>player3_player_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,224},{18,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,63}}</string>
                <key>sourceSize</key>
                <string>{18,63}</string>
            </dict>
            <key>player3_player_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>player3_player_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,154},{43,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,65}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>player3_player_03_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,80},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>player3_player_03_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,199},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>player3_player_03_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,58},{16,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,69}}</string>
                <key>sourceSize</key>
                <string>{16,69}</string>
            </dict>
            <key>player3_player_03_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,224},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>player3_player_03_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,159},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player3.png</string>
            <key>size</key>
            <string>{291,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef42289a2643e9a6ac924a6fa3b06de8$</string>
            <key>textureFileName</key>
            <string>player3.png</string>
        </dict>
    </dict>
</plist>
