<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sucai_093.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{40,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,160}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>sucai_094.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{40,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,158}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>sucai_095.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{40,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,160}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
            <key>zidan_daoju (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,303},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zidan_daoju (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,245},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zidan_daoju (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,303},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zidan_daoju (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,485},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>zidan_daoju (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,153},{7,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,47}}</string>
                <key>sourceSize</key>
                <string>{7,47}</string>
            </dict>
            <key>zidan_daoju (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{341,485},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>zidan_daoju(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{413,195},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zidan_diji (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{384,406},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>zidan_diji (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{461,444},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>zidan_diji (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{448,323},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>zidan_diji (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{444,365},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>zidan_diji (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{479,353},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>zidan_diji (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{522,412},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>zidan_diji (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{296,486},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{24,43}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>zidan_diji (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,400},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>zidan_diji (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>zidan_diji (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{537,456},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{29,43}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>zidan_diji (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{461,202},{21,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{21,43}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>zidan_diji (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,162},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>zidan_diji (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{549,178},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{29,43}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>zidan_diji (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{236,235},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>zidan_diji (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,236},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>zidan_diji (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{120,237},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>zidan_diji (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{492,456},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>zidan_diji (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{413,295},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>zidan_diji (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{448,288},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>zidan_diji (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{367,161},{29,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,54}}</string>
                <key>sourceSize</key>
                <string>{29,54}</string>
            </dict>
            <key>zidan_diji (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{226,486},{24,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,68}}</string>
                <key>sourceSize</key>
                <string>{24,68}</string>
            </dict>
            <key>zidan_diji (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{56,197}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,197}}</string>
                <key>sourceSize</key>
                <string>{60,197}</string>
            </dict>
            <key>zidan_diji (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{37,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{37,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>zidan_diji (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{458,92},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{33,74}</string>
            </dict>
            <key>zidan_diji (31).png</key>
            <dict>
                <key>frame</key>
                <string>{{537,223},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>zidan_diji (32).png</key>
            <dict>
                <key>frame</key>
                <string>{{491,36},{38,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>zidan_diji (33).png</key>
            <dict>
                <key>frame</key>
                <string>{{74,237},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>zidan_diji (34).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,233},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>zidan_diji (35).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,233},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>zidan_diji (36).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,41},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>zidan_diji (37).png</key>
            <dict>
                <key>frame</key>
                <string>{{484,251},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zidan_diji (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{484,206},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>zidan_diji (39).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,49},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>zidan_diji (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{213,164},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>zidan_diji (40).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,125},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>zidan_diji (41).png</key>
            <dict>
                <key>frame</key>
                <string>{{448,247},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>zidan_diji (42).png</key>
            <dict>
                <key>frame</key>
                <string>{{527,365},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>zidan_diji (43).png</key>
            <dict>
                <key>frame</key>
                <string>{{342,417},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>zidan_diji (44).png</key>
            <dict>
                <key>frame</key>
                <string>{{245,301},{27,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,136}}</string>
                <key>sourceSize</key>
                <string>{27,136}</string>
            </dict>
            <key>zidan_diji (45).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{62,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,149}}</string>
                <key>sourceSize</key>
                <string>{62,151}</string>
            </dict>
            <key>zidan_diji (46).png</key>
            <dict>
                <key>frame</key>
                <string>{{315,297},{15,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,118}}</string>
                <key>sourceSize</key>
                <string>{15,118}</string>
            </dict>
            <key>zidan_diji (47).png</key>
            <dict>
                <key>frame</key>
                <string>{{533,315},{48,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>zidan_diji (48).png</key>
            <dict>
                <key>frame</key>
                <string>{{491,178},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>zidan_diji (49).png</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{73,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,70}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>zidan_diji (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{461,168},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zidan_diji (50).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,160},{33,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>zidan_diji (51).png</key>
            <dict>
                <key>frame</key>
                <string>{{536,269},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>zidan_diji (52).png</key>
            <dict>
                <key>frame</key>
                <string>{{328,88},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>zidan_diji (53).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,486},{24,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,68}}</string>
                <key>sourceSize</key>
                <string>{24,68}</string>
            </dict>
            <key>zidan_diji (54).png</key>
            <dict>
                <key>frame</key>
                <string>{{491,140},{36,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{36,78}}</string>
                <key>sourceSize</key>
                <string>{38,84}</string>
            </dict>
            <key>zidan_diji (55).png</key>
            <dict>
                <key>frame</key>
                <string>{{371,296},{40,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,108}}</string>
                <key>sourceSize</key>
                <string>{40,108}</string>
            </dict>
            <key>zidan_diji (56).png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{32,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,101}}</string>
                <key>sourceSize</key>
                <string>{32,101}</string>
            </dict>
            <key>zidan_diji (57).png</key>
            <dict>
                <key>frame</key>
                <string>{{445,41},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>zidan_diji (58).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,488},{22,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,60}}</string>
                <key>sourceSize</key>
                <string>{22,60}</string>
            </dict>
            <key>zidan_diji (59).png</key>
            <dict>
                <key>frame</key>
                <string>{{314,427},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>zidan_diji (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{439,485},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zidan_diji (60).png</key>
            <dict>
                <key>frame</key>
                <string>{{371,125},{33,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,85}}</string>
                <key>sourceSize</key>
                <string>{33,85}</string>
            </dict>
            <key>zidan_diji (61).png</key>
            <dict>
                <key>frame</key>
                <string>{{491,108},{30,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,88}}</string>
                <key>sourceSize</key>
                <string>{30,88}</string>
            </dict>
            <key>zidan_diji (62).png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{29,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,88}}</string>
                <key>sourceSize</key>
                <string>{29,88}</string>
            </dict>
            <key>zidan_diji (63).png</key>
            <dict>
                <key>frame</key>
                <string>{{491,76},{30,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,89}}</string>
                <key>sourceSize</key>
                <string>{30,89}</string>
            </dict>
            <key>zidan_diji (64).png</key>
            <dict>
                <key>frame</key>
                <string>{{367,92},{31,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,89}}</string>
                <key>sourceSize</key>
                <string>{31,89}</string>
            </dict>
            <key>zidan_diji (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{274,427},{16,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{16,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zidan_diji (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,487},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zidan_diji (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{413,365},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>zidan_diji65.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,303},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>zidan_diji66.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,303},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>zidan_diji67.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,304},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>zidan_diji68.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,305},{33,181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,181}}</string>
                <key>sourceSize</key>
                <string>{37,183}</string>
            </dict>
            <key>zidan_diji69.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{62,233}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,233}}</string>
                <key>sourceSize</key>
                <string>{62,243}</string>
            </dict>
            <key>zidan_diji70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,301}}</string>
                <key>sourceSize</key>
                <string>{70,301}</string>
            </dict>
            <key>zidan_diji71.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,296},{11,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,118}}</string>
                <key>sourceSize</key>
                <string>{11,118}</string>
            </dict>
            <key>zidan_diji72.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,296},{11,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,118}}</string>
                <key>sourceSize</key>
                <string>{11,118}</string>
            </dict>
            <key>zidan_diji73.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,297},{11,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,118}}</string>
                <key>sourceSize</key>
                <string>{11,118}</string>
            </dict>
            <key>zidan_diji74.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,446},{38,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,112}}</string>
                <key>sourceSize</key>
                <string>{38,114}</string>
            </dict>
            <key>zidan_diji75.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,301},{39,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,124}}</string>
                <key>sourceSize</key>
                <string>{41,124}</string>
            </dict>
            <key>zidan_diji76.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,302},{43,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,142}}</string>
                <key>sourceSize</key>
                <string>{45,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zidan.png</string>
            <key>size</key>
            <string>{582,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e36f90ce76a4df148701cc27888a86b$</string>
            <key>textureFileName</key>
            <string>zidan.png</string>
        </dict>
    </dict>
</plist>
