<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>boss2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,56},{32,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{32,61}</string>
            </dict>
            <key>boss2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{45,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,168}}</string>
                <key>sourceSize</key>
                <string>{45,168}</string>
            </dict>
            <key>boss2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,49},{67,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,127}}</string>
                <key>sourceSize</key>
                <string>{67,127}</string>
            </dict>
            <key>boss2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,56},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>boss2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,116}}</string>
                <key>sourceSize</key>
                <string>{62,116}</string>
            </dict>
            <key>boss2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{65,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,108}}</string>
                <key>sourceSize</key>
                <string>{65,108}</string>
            </dict>
            <key>boss2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{98,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss2.png</string>
            <key>size</key>
            <string>{445,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:713eaf08c7e8648c1980aeee0e02cd74$</string>
            <key>textureFileName</key>
            <string>boss2.png</string>
        </dict>
    </dict>
</plist>
