<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,150},{23,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,76}}</string>
                <key>sourceSize</key>
                <string>{23,76}</string>
            </dict>
            <key>boss3_10!.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,331},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>boss3_11!.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,475},{21,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{21,48}</string>
            </dict>
            <key>boss3_12!.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>boss3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>boss3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{49,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,88}}</string>
                <key>sourceSize</key>
                <string>{49,88}</string>
            </dict>
            <key>boss3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,383},{38,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,76}}</string>
                <key>sourceSize</key>
                <string>{38,76}</string>
            </dict>
            <key>boss3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,150},{49,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,94}}</string>
                <key>sourceSize</key>
                <string>{49,94}</string>
            </dict>
            <key>boss3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,246},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>boss3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>boss3_8!.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{150,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,46}}</string>
                <key>sourceSize</key>
                <string>{150,46}</string>
            </dict>
            <key>boss3_9!.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss3.png</string>
            <key>size</key>
            <string>{128,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84714c3a077a52e5ca085942aaab0c36$</string>
            <key>textureFileName</key>
            <string>boss3.png</string>
        </dict>
    </dict>
</plist>
