<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,101},{23,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,76}}</string>
                <key>sourceSize</key>
                <string>{23,76}</string>
            </dict>
            <key>boss9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,84},{21,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{21,48}</string>
            </dict>
            <key>boss9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>boss9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>boss9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{49,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,88}}</string>
                <key>sourceSize</key>
                <string>{49,88}</string>
            </dict>
            <key>boss9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,84},{38,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,76}}</string>
                <key>sourceSize</key>
                <string>{38,76}</string>
            </dict>
            <key>boss9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,50},{49,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,94}}</string>
                <key>sourceSize</key>
                <string>{49,94}</string>
            </dict>
            <key>boss9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,53},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>boss9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>boss9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{150,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,46}}</string>
                <key>sourceSize</key>
                <string>{150,46}</string>
            </dict>
            <key>boss9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,53},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss9.png</string>
            <key>size</key>
            <string>{493,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:556863f8478e438612f54b8ecd460633$</string>
            <key>textureFileName</key>
            <string>boss9.png</string>
        </dict>
    </dict>
</plist>
