<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logicRect_Emit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_Emit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logicRect_RectHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>logicRect_RectHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>logicRect_RectHurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logicRect.png</string>
            <key>size</key>
            <string>{8,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2148e951ee1a44b39b3f62c7b53d7b0$</string>
            <key>textureFileName</key>
            <string>logicRect.png</string>
        </dict>
    </dict>
</plist>
